.header {
    position: sticky;
    top: 0;
    z-index: 10;

    width: 100%;
    background-color: var(--color-bg);
    padding: 10px var(--side-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width : 640px) {
        font-size: 8px;
    }

    h1 {
        color: var(--color-text);
        font-weight: 800;
    }

    .nav {
        display: flex;
        gap: 15px;

        a {
            color: var(--color-text);
        }

        @media (max-width : 640px) {
            display: none;
        }
    }
}